#root {
  display: grid;
  background-image: url('./shared/assets/images/home/wodbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  & > .bgmask{
    background-color: rgba(0, 0, 0, 0.356);
  }

  & > .menu {
    width: 100%;
  }
  
  & > .content {
    width: 100%;
    overflow-y: scroll;
  }
}